/* .App {
  text-align: center;
} */
.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-ul li a{
    color: rgb(93, 93, 243);
    padding: 5px;
}

.nav-ul ul{
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}

.signup{
  margin-left: 40%;
display: block;
}
.signup h1{
  margin-left: 14%;
}
.inputbox{
  display: block;
    margin: 22px;
    padding: 9px;
    width: 300px;
    border: 2px solid skyblue;
}
.Signbutton{
  margin: 21px;
    padding: 12px;
    width: 325px;
    background-color: skyblue;
    border: aqua;
    cursor: pointer;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
